.slider {
  padding-top: 24px;
  &__filter {
    display: none;
  }
}
.slick {
  &-list {
    border-radius: 24px;
  }
  &-arrow {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    z-index: 1;
    font-size: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $pure-white;
    border: 0;
    transform: rotate(-45deg);
    cursor: pointer;
    &:hover,
    &:active {
      background-color: $pure-white;
    }
    &::before,
    &::after {
      content: '';
      display: block;      
      background-color: $grey-6;
      border-radius: 2px;
      position: absolute;
      left: 35%;
      top: 35%;
    }
    &::before {
      width: 18px;
      height: 4px;
    }
    &::after {
      width: 4px;
      height: 18px;
    }
  }
  &-prev {
    left: 24px;
  }
  &-next {
    right: 24px;
    transform: rotate(135deg);
  }
  &-dots {
    position: relative;
    background-color: $pure-white;
    display: flex;
    gap: 12px;
    list-style-type: none;
    bottom: 12px;
    width: fit-content;
    margin: -24px auto 24px;
    padding: 6px;
    line-height: 0;
    border-radius: 12px;
    & button {
      font-size: 0;
      padding: 0;
      line-height: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 0;
      background-color: $light-3;
      cursor: pointer;      
    }
    & .slick-active button {
      background-color: $grey-6;
    }
  }
}