$green-light: #8DCF00;
$green-light-hover: #74AB00;
$green-dark: #5B8700;

$green-light-a-hover: #F5FFE0;

$secondary-color: #ED3B40;

$pure-white: #ffffff;
$pure-white-30: rgba(255, 255, 255, 0.3);
$pure-white-10: rgba(255, 255, 255, 0.1);

$light: #FEFEFE;
$light-2: #f5f5f5;
$light-2-5: #dddddd;
$light-3: #CCCCCC;

$dark: #333333;
$grey-6: #666666;
$grey-9: #999999;


$pure-black-30: rgba(0, 0, 0, 0.3);
